.main-top {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.top-image img {
  width: 100%;
}
.top-card {
  padding: 1.5rem;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}
.top-card h2 {
  margin: 0 0.8rem;
  font-size: 2.4rem;
}
.top-card p {
  font-size: 1.6rem;
}
.main-content {
  padding: 0 30px;
}
.content-text h3 {
  margin: 40px 0 10px 0;
  font-size: 2.8rem;
}
.content-text p {
  margin: 5px 0;
  font-size: 1.6rem;
}

.content-tabs {
  margin: 10px 0;
}
.content-tab {
  font-size: 1.4rem;
  margin: 0 5px;
  color: #555;
}
.content-tab:hover {
  color: black;
}
.active-tab {
  color: black;
  font-weight: 800;
}
.content-courses {
  margin: 20px;
  padding: 20px;
  border: 1px solid #d1d7dc;
}
.courses-text {
  margin: 10px 0;
  width: 70%;
}
.courses-text h3 {
  margin: 10px 0;
  font-size: 2.2rem;
}
.courses-text p {
  margin: 10px 0;
  font-size: 1.5rem;
}
.explore-btn {
  margin: 10px 0;
  background-color: white;
}

.course-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.course-card {
  width: 240px;
  margin: 10px;
}
.course-card img {
  width: 100%;
  border: 1px solid #d1d7dc;
  cursor: pointer;
}
.card-title {
  font-size: 1.6rem;
  cursor: pointer;
}
.card-author {
  font-size: 1.2rem;
}
.card-rating {
  color: #e59819;
  font-size: 1.25rem;
}
.card-price {
  font-size: 1.6rem;
}

@media only screen and (min-width: 75em) {
  .top-card {
    left: 7rem;
    top: 6.5rem;
    max-width: 44rem;
  }
}
@media only screen and (min-width: 44em) and (max-width: 75em) {
  .top-card {
    width: 34rem;
    left: 5rem;
    top: 2.5rem;
  }
}

@media only screen and (min-width: 44em) {
  .top-card {
    position: absolute;
    padding: 2.5rem;
  }
  .top-card h2 {
    font-size: 3.2rem;
  }
  .top-card p {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .courses-text {
    width: 100%;
  }
  .text-paragraph {
    display: none;
  }
}
/*

  background-image: url("../../media/header\ image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: center;

  
    height: 70vh;
    background-image: url("../../media/header\ image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    position: relative;
  */
